/* 
    Created on : Oct 31, 2016, 2:12:03 PM
    Author     : Faraz
*/
body .pagination
{
    padding: 0;
    margin: 0;
}

.th-center th{
    text-align: center;
}

.panel-title-heading
{
    font-size: 23px;
}
